[package]
name = "extractor"
version.workspace = true
edition.workspace = true
repository.workspace = true
documentation.workspace = true
license.workspace = true

[dependencies]
git2 = "0.20.3"
log = "0.4.29"
env_logger = "0.11.8"
clap.workspace = true

[lints]
workspace = true
